PORT=3000

MONGO_URI=Your_MongoDB_URI_Here

SESSION_SECRET=Your_Session_Secret_Here

# Replace with your actual Gemini API key
GEMINI_API_KEY=Your_Gemini_API_Key_Here

CLOUDINARY_URL=Your_Cloudinary_URL_Here